
body {
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #48494a;
}

    body h1 {
        font-family: "Proxima Nova Light", sans-serif;
        letter-spacing: 3px;
        color: #48494a;
        margin-bottom: 10px;
    }

    body h2 {
        letter-spacing: 2px;
        color: #48494a;
        font-family: "Proxima Nova Regular", sans-serif;
    }

    body h3 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Regular", sans-serif;
    }

    body h4 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Semibold", sans-serif;
    }

    body h5 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Bold", sans-serif;
    }

    body h6 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Bold", sans-serif;
    }

a {
    color: #477ca1;
    text-decoration: none;
}

    a:hover {
        color: #185c85;
    }

p.lead-text {
    font-size: 21px;
    margin-bottom: 30px;
}



.breadcrumb {
    padding: 0px;
    margin-bottom: 5px;
    list-style: none;
    color: #477ca1;
}

.breadcrumblink {
    padding-left: 3px;
    border-radius: 4px;
    color: #477ca1;
    cursor: pointer;
    list-style: none;
}


.card {
    opacity: 1;
    background-color: #ffffff;
    box-shadow: 0px 2px 0px #e9e9e9;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}

    .card.animating {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
    }

        .card.animating:active {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            -webkit-transition: all 100ms ease;
            transition: all 100ms ease;
            box-shadow: 0px 2px 0px #e9e9e9;
        }

        .card.animating:hover {
            opacity: 1;
            -webkit-transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            transform: translateY(-5px);
            -webkit-transition: all 200ms ease;
            transition: all 200ms ease;
            box-shadow: 0px 4px 2px #ebebeb;
        }

    .card div {
        margin: 20px 10px;
        color: #477ca1;
    }

    .card img {
        height: 180px;
    }

    .card p {
        color: #8c8e8f;
    }




/*body {
    letter-spacing: 0.5px;
    font-weight: lighter;
    color: #48494a;
}

    body h1 {
        font-family: "Proxima Nova Light", sans-serif;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #48494a;
        margin-bottom: 10px;
    }

    body h2 {
        letter-spacing: 2px;
        color: #48494a;
        font-family: "Proxima Nova Regular", sans-serif;
        text-transform: uppercase;
    }

    body h3 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Regular", sans-serif;
        text-transform: uppercase;
    }

    body h4 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Semibold", sans-serif;
        text-transform: uppercase;
    }

    body h5 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Bold", sans-serif;
        text-transform: uppercase;
    }

    body h6 {
        letter-spacing: 1.5px;
        color: #48494a;
        font-family: "Proxima Nova Bold", sans-serif;
        text-transform: uppercase;
    }

a {
    color: #477ca1;
    text-decoration: none;
}

a:hover {
        color: #185c85;
    }

p.lead-text {
    font-size: 21px;
    margin-bottom: 30px;
}

.de-notification {
    border-color: #ddd;
    background-color: white;
}

.badge, .badgeprimary, .badgespouse, .badgedependent {
    display: inline-block;
    min-width: 10px;
    padding: 8px 5px;
    font-size: 10px;
    font-weight: 500;
    line-height: 2px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    margin-left: 5px;
    text-transform: uppercase;
    vertical-align: middle;
    letter-spacing: 1px;
    border-radius: 2px;
}

.badgeprimary {
    background-color: #1e5e8b;
}

.badgespouse {
    background-color: #ffb41e;
}

.badgedependent {
    background-color: #80c2c7;
}

.breadcrumb {
    padding: 0px;
    margin-bottom: 5px;
    list-style: none;
    color: #477ca1;
}

.breadcrumblink {
    padding-left: 3px;
    border-radius: 4px;
    color: #477ca1;
    cursor: pointer;
    list-style: none;
}

.filter-label {
    font-size: 14px;
}

.primary-header {
    text-align: left;
    text-transform: uppercase;
}

@media (max-width: 1023px) {
    .primary-header {
        text-align: center;
    }
}

.landing-container {
    text-align: left;
}

@media (max-width: 1023px) {
    .landing-container {
        text-align: center;
    }
}

.primary-title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.secondary-title {
    margin-bottom: 20px;
}

.bill-pay-claims-link-block {
    margin-top: 30px;
}

.bill-pay-description-block {
    margin-bottom: 40px;
}

.subtext-block {
    margin-bottom: 30px;
}

.profile-title-block {
    margin-top: 30px;
}*/

@media (min-width: 1024px) {
    .shcdulenow-description {
        margin-bottom: 40px;
    }
}

.edw-tabs {
    /*custom media queries*/
    /* Extra Small Devices, Phones */
    /* Tablet and down */
}

@media only screen and (min-width: 375px) and (max-width: 415px) {
    .edw-tabs ul {
        display: flex;
        justify-content: space-around;
    }
}

.edw-tabs ul li.nav-item {
    display: inline;
    text-align: left;
}

    .edw-tabs ul li.nav-item a {
        border-radius: 0px;
        font-family: "Proxima Nova Regular", sans-serif;
        font-size: 17px;
        letter-spacing: 1.5px;
    }

@media only screen and (min-width: 375px) and (max-width: 415px) {
    .edw-tabs ul li.nav-item a {
        font-size: 16px;
        margin-right: 10px !important;
    }
}

@media only screen and (max-width: 375px) {
    .edw-tabs ul li.nav-item a {
        font-size: 15px;
        margin-right: 10px !important;
    }
}

.edw-tabs ul li.nav-item a.nav-link {
    color: #8c8e8f;
    padding: 0px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 19px;
}

    .edw-tabs ul li.nav-item a.nav-link:hover {
        border-bottom: 3px solid #8c8e8f;
        margin-bottom: 0px;
        padding-bottom: 0px;
        background-color: transparent;
    }

    .edw-tabs ul li.nav-item a.nav-link.active:focus {
        background-color: transparent;
    }

    .edw-tabs ul li.nav-item a.nav-link.active:hover {
        color: #000000;
        background-color: transparent;
        text-decoration: none;
        margin-bottom: 0px;
        border-bottom: 3px solid #fdb71a;
        padding-bottom: 0px;
    }

    .edw-tabs ul li.nav-item a.nav-link.active {
        color: #000000;
    }

.edw-tabs .well {
    background-color: #ffffff;
}

@media (min-width: 1024px) {
    .edw-tabs .well {
        padding: 30px;
    }
}

@media (max-width: 1023px) {
    .edw-tabs .well {
        padding: 5px 15px 15px;
    }
}

.edw-tabs .bottom-pad {
    height: 20px;
}

.edw-tabs .red {
    background-color: #ff0000;
    height: 100px;
}

.edw-tabs .rounded {
    border-radius: 0px;
    border: 4px solid #f4f4f4;
}

.edw-tabs .yellow {
    background-color: #ffbf00;
}

.edw-tabs hr {
    height: .25rem;
    /*width: 25%;*/
    margin: 0;
    /*background: ;*/
    border: none;
    transition: .3s ease-in-out;
}

.edw-tabs .plandocstitle {
    font-size: 13px;
    font-weight: 600;
    color: #48494a;
    text-transform: uppercase;
    margin-top: 18px;
}

.edw-tabs .plantype {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 0px !important;
    padding-top: 10px !important;
    text-transform: uppercase;
    color: #48494a;
}

.edw-tabs .title {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size: 38px;
    font-weight: 300;
    color: #000000;
    line-height: 50px;
    text-transform: uppercase;
}

.edw-tabs .documenth4 {
    font-weight: 600;
    font-size: 16px;
    color: #48494a;
    margin-bottom: 5px;
}

.edw-tabs .mainnav {
    font-size: 17px;
    font-weight: 600;
    padding-right: 20px;
    text-transform: uppercase;
}

.edw-tabs a.active {
    color: #000000;
    margin-bottom: 0px;
    border-bottom: 3px solid #fdb71a;
    padding-bottom: 0px;
}

.edw-tabs a.inactive {
    color: #8c8e8f;
}

    .edw-tabs a.inactive:hover {
        color: #000000;
    }

.edw-tabs td.cellright {
    text-align: right;
}

@media only screen and (min-width: 320px) {
    .edw-tabs .icon-height-xs {
        height: 55px;
    }

    .edw-tabs .xs-padding {
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 480px) {
    .edw-tabs .icon-height-xs {
        height: 60px;
    }

    .edw-tabs .xs-padding {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 768px) {
    .edw-tabs .mainnav {
        font-size: 14px;
        font-weight: 600;
        padding-right: 12px;
        text-transform: uppercase;
    }
}

/*.edw-tabs a.active {
    color: #000000;
    margin-bottom: 0px;
    border-bottom: 3px solid #fdb71a;
    padding-bottom: 0px;
}

.edw-tabs a.inactive {
    color: #8c8e8f;
}

    .edw-tabs a.inactive:hover {
        color: #000000;
    }

.edw-tabs a:focus {
    color: #477CA1;
}

.edw-tabs .plantype {
    font-weight: normal;
    padding-top: 0px !important;
    padding-bottom: 0px;
    margin-bottom: 0px;
}*/

.edw-tabs .plandocs {
    padding-left: 0px;
}

.edw-tabs .endtable {
    margin-bottom: 0px;
}

.edw-tabs .no-border-top {
    border-top: 0px;
}

