﻿@font-face {
    font-family: "Proxima Nova Bold Italic";
    src: url('../fonts/proxima_ nova_ bold_italic.woff');
}
@font-face {
    font-family: "Proxima Nova Black";
    src: url('../fonts/proxima_nova_black.woff');
}
@font-face {
    font-family: "Proxima Nova Black Italic";
    src: url('../fonts/proxima_nova_black_italic.woff');
}
@font-face {
    font-family: "Proxima Nova Regular";
    src: url('../fonts/proxima_nova_regular.woff');
}
@font-face {
    font-family: "Proxima Nova Light";
    src: url('../fonts/proxima_nova_light.woff');
}
@font-face{
    font-family: "Proxima Nova Bold";
    src: url('../fonts/proxima_nova_bold.woff');
}
@font-face {
    font-family: "Proxima Nove Semibold";
    src: url('../fonts/proxima_nova_semi_bold.woff');
}
