﻿:root {
    --medium-blue: #477ca1;
    --almost-black:#48494a;
    --light-grey:#e7e7e7;
    --mh-gold: #fdb823;
    --white:#ffffff;
    --box-border: #666;
    --location-box-paragraph: #808080;
    --body-background:#f6f6f6;
    --lighter-blue:#5d9ecc;
    --dark-grey:#8c8e8f;
    --medium-grey:#cbcccd;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-background) !important;
}

.location-box {
    margin-top: 20px;
}


#location-map {
    min-width: 100%;
    width: 100%;
    height: 200px;
    border: 1px solid var(--box-border);
}


.address-box {
    margin-top: 5px;
}

.location-box img {
    width: 65%;
}

.address-box i {
    vertical-align: middle;
}

.address-box a {
    font-weight: lighter;
    font-size: 14px;
}

#profile-box-border-bottom {
    border-bottom: solid 2px var(--light-grey);
    margin-top: 25px;
    margin-bottom: 25px;
}

#physician-profile-pic {
    width: 205px;
    height: 256px;
    border: 1px solid var(--box-border);
}

.logo-wrap {
    min-height: 98px;
}

#profile-logo {
    width: 25%;
    padding-top:2%;
    /*height: 25%;*/
    /*padding-bottom: 30px;*/
}


#physician-profile-copy {
    margin: auto;
    border: none;
    height: 100%;
}

.schedule-now-wrap-detail {
    /*min-height: 25px;*/
}

.mh-preferred-wrap {
    margin: 3% 0;
    min-height: 27px;
}

.mh-preffered {
    border: solid 2px var(--mh-gold);
    border-radius: 3px;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
}

.card {
    text-align: left;
}

.btn-wide {
    width: 200px;
}

.text-anchor {
    position: absolute;
    top: 50px;
    left: 0;
    font-size: 14px;
    font-family: "Proxima Nova Regular", sans-serif;
}

/* fontography */

.physician-name, .physician-specialty {
    letter-spacing: 1.5px;
    color: var(--almost-black);
    font-family: "Proxima Nova Regular", sans-serif;
}

.physician-name {
    margin-top: 0;
}

h4 {
    text-transform: none;
}

.breadcrumb.go-back {
    margin: 2% 0;
}

.physician-specialty {
    margin-top: -15px;
    font-size: 16px;
}

#physician-box .card {
    cursor: default;
}



    #physician-box .card div {
        margin: 0;
    }

.insurance-cols {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.location-box p {
    color: var(--location-box-paragraph);
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 8px;
}

.primary-office-font {
    color: var(--almost-black);
    font-family: "Proxima Nova Regular", sans-serif;
    font-size: 14px;
}

/* Search Result Page */

.search-results-container .advanced-search-block {
    margin-top: 40px;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.search-results-container .advanced-search-dropdown {
    border: 1px solid #ccc;
    position: absolute;
    z-index: 101;
    width: 100%;
    top: 30px;
    background-color: var(--white);
}

.search-results-container .advanced-search-block i {
    margin-left: 5px;
}

.search-results-container .advanced-search-block h5 {
    color: var(--medium-blue);
    float: left;
}

.search-results-container .zip-code-block {
    margin-top: 40px;
    color: var(--medium-blue);
    text-align: right;
}

    .search-results-container .zip-code-block i {
        color: var(--mh-gold);
    }

    .search-results-container .zip-code-block h5 {
        font-family: "Proxima Nova Regular", sans-serif;
        color: inherit;
    }

.search-results-container .search-text-box {
    width: 100%;
    padding-left: 30px;
    height: 40px;
    font-family: "Proxima Nova Regular", sans-serif;
}

.search-results-container .search-block {
    position: relative;
}

    .search-results-container .search-block .fa-search {
        top: 12px;
        left: 25px;
        position: absolute;
    }

.search-results-container .filter-list-block {
    margin-top: 15px;
    display: table;
    width: 100%;
    table-layout: fixed;
}

.search-results-container .filter-list-heading {
    display: inline-block;
}

.search-results-container .filter-list .filter-heading {
    font-size: 13px;
}

.search-results-container .filter-list {
    width: 100%;
    display: table;
    list-style: none;
    padding-left: 0;
    margin-bottom: 20px;
}

    .search-results-container .filter-list li {
        display: table-cell;
    }

.search-results-container .filter-list-block h6 {
    font-family: "Proxima Nova Regular", sans-serif;
    float: left;
    margin-right: 5px;
}

.search-results-container .filter-list-block .filter-list-item {
    display: table-cell;
    padding-left: 10px;
    cursor: pointer;
    position: relative;
}

.search-results-container .filter-block.active {
    color: var(--white) !important;
    background-color: var(--medium-blue);
}

.popover {
    border-radius: 0 !important;
    max-width: 100% !important;
    border: 2px solid #ccc;
}

.popover-content {
    max-height: 545px !important;
    overflow-y: auto;
}

.popover-filter-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 0;
}

    .popover-filter-options span {
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

.filter-clear {
    color: var(--light-grey);
}

.filter-done {
    color: var(--medium-blue);
}

.filter-input-row {
    padding: 4px 5px;
}

.facet-num {
    float: right;
    margin-left: 20px;
    color: var(--dark-grey);
}

.facet-search-bar-wrap {
    position: relative;
}

    .facet-search-bar-wrap .fa-search {
        top: 15px;
        left: 15px;
        position: absolute;
        color: var(--medium-grey);
    }

.facet-search-bar {
    width: 97%;
    margin: 6px;
    border: 1px solid var(--medium-grey);
    padding: 5px 5px 5px 30px;
}

.advanced-popover {
    left: 0 !important;
}

.advanced-search-wrap {
    padding: 2%;
}

.advanced-popover .arrow {
    left: 75% !important;
    top: -10px !important;
}

.advanced-filter-row {
    width: 100%;
    /*display: inline-block;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .advanced-filter-row > div {
        /*float: left;
    margin: 0 10% 0 0;*/
    }

.schedule-now-wrap {
    width: 20%;
}

.advanced-location-share-wrap {
    cursor: pointer;
}

    .advanced-location-share-wrap i {
        color: var(--mh-gold);
        margin-top: 25%;
    }

.advanced-search-wrap input[type="radio"] {
    height: 20px;
    width: 20px;
    margin: 0px 3px 0px 0px;
}

.advanced-gender-text {
    vertical-align: top;
    margin-right: 8%;
    font-size: 14px;
}

    .advanced-gender-text:last-child {
        margin-right: 0;
    }

.gender-filter-wrap {
    /*margin: 0 !important;*/
    width: 28%;
}

.advanced-gender-row {
    width: 100%;
}

.advanced-dropdown-row {
    display: inline-block;
    width: 100%;
}

.advanced-top-row .chosen-results {
    max-height: 225px;
}

.advanced-bottom-row .chosen-results {
    max-height: 100px;
}


.advanced-dropdown-wrap {
    width: 48%;
    margin: 2% 0%;
    position: relative;
}

    .advanced-dropdown-wrap i {
        color: var(--medium-blue);
        position: absolute;
        z-index: 1000;
        top: 63%;
        left: 93%;
    }

.distance-filter-wrap h6 {
    margin-bottom: 7px;
}

.advanced-dropdown-wrap select {
    width: 100%;
}

.advanced-search-wrap input, .advanced-search-wrap select {
    padding: 5px 10px 5px 3px;
}

.chosen-container {
    font-size: 15px !important;
}

.chosen-choices {
    padding: 5px !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #b1e7e7 !important;
    background-image: none !important;
    color: black !important;
}

li.search-choice {
    background-image: none !important;
    border: 1px solid #b1e7e7 !important;
    background-color: #b1e7e7 !important;
    margin: 1px 5px 1px 0 !important;
    padding: 5px 20px 5px 5px !important;
}

.advanced-of {
    margin-top: 5px;
}

#advanced-distance, #advanced-zip {
    width: 110px !important;
}

#advanced-zip {
    padding-bottom: 0;
}

.advanced-search-btn {
    float: right;
    width: 20%;
}

    .advanced-search-btn .btn {
        width: 100%;
    }

#advanced-search-container, .dashboard-container {
    position: relative;
    max-width: 1170px;
}

.search-results-container .filter-list-block .filter-block {
    width: 100%;
    display: inline-block;
    color: var(--medium-blue);
    border: solid 2px var(--medium-blue);
    padding: 5px 5px;
    margin-top: 5px;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.search-results-container .schedulenow-block {
    float: right;
    display: inline-block;
    font-family: "Proxima Nova Regular", sans-serif;
}

    .search-results-container .schedulenow-block h5 {
        font-family: "Proxima Nova Semibold", sans-serif;
        text-transform: none;
        display: inline-block;
        font-size: 14px;
    }

    .search-results-container .schedulenow-block i, .advanced-search-wrap .schedulenow-block i {
        color: var(--medium-blue);
    }

.search-results-container .toggle, .schedule-now-wrap .toggle {
    width: 40px;
    margin-left: 10px;
}

.search-results-container .toggle-block, .schedule-now-wrap .toggle-block {
    float: right;
    display: inline-block;
}

.schedule-now-wrap .toggle-block {
    margin-right: 3%;
}

.search-results-container .search-results-card-block {
    overflow-y: auto;
    overflow-x: hidden;
    height: 570px;
    margin-top: 10px;
}

.search-results-container .search-result-card {
    height: 130px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 3px var(--light-grey);
    border-radius: 3px;
    display: table;
}

.search-results-container .search-results-map {
    height: 100%;
    width: 100%;
    background-color: var(--white);
    border: solid 2px var(--medium-grey);
}

.search-results-container .search-results-action-block {
    margin-top: 10px;
}

    .search-results-container .search-results-action-block a {
        margin-left: 10px;
        margin-right: 10px;
    }

        .search-results-container .search-results-action-block a i {
            margin-right: 10px;
        }

.search-results-container .search-results-block {
    padding-right: 0;
}

    .search-results-container .search-results-block .search-result-card {
        margin-top: 10px;
    }

        .search-results-container .search-results-block .search-result-card .card-content-block {
            padding-top: 15px;
            padding-right: 15px;
            display: table-cell;
        }

    .search-results-container .search-results-block .search-results-matches .matches {
        font-family: "Proxima Nova Semibold", sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .search-results-container .search-results-block .search-result-card .logo {
        width: 75px;
        margin-bottom: 10px;
    }

    .search-results-container .search-results-block .search-result-card .profile-img {
        height: 130px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .search-results-container .search-results-block .search-result-card .profile-img-block {
        height: 100%;
        display: table-cell;
    }

    .search-results-container .search-results-block .search-result-card .profile-description {
        height: 100%;
        float: left;
    }

        .search-results-container .search-results-block .search-result-card .profile-description .physician-name {
            color: var(--medium-blue);
            font-family: "Proxima Nova Regular", sans-serif;
            letter-spacing: 1px;
            font-weight: bold;
            font-size: 14px;
        }

        .search-results-container .search-results-block .search-result-card .profile-description .physician-specialty {
            font-size: 12px;
            font-family: "Proxima Nova Semibold", sans-serif;
            display: inline-block;
            line-height: unset;
            font-weight: bold;
            letter-spacing: 1px;
        }

        .search-results-container .search-results-block .search-result-card .profile-description .physician-address {
            margin-top: 5px;
            margin-bottom: 10px;
            font-family: "Proxima Nova Regular", sans-serif;
            font-size: 11px;
        }

        .search-results-container .search-results-block .search-result-card .profile-description .physician-distance {
            font-size: 11px;
            font-family: "Proxima Nova Semibold", sans-serif;
        }

            .search-results-container .search-results-block .search-result-card .profile-description .physician-distance i {
                margin-right: 5px;
                color: var(--mh-gold);
            }

    .search-results-container .search-results-block .search-result-card .profile-actions {
        text-align: right;
        height: 100%;
        float: right;
        width: 20%;
        display: table;
    }

        .search-results-container .search-results-block .search-result-card .profile-actions .logo-block {
            display: table-row;
            vertical-align: top;
        }

        .search-results-container .search-results-block .search-result-card .profile-actions .schedulenow-button-block {
            display: table-row;
            vertical-align: bottom;
        }

    .search-results-container .search-results-block .search-result-card .schedulenow-button {
        width: 115px;
        line-height: inherit !important;
    }

.search-results-container .search-results-map-block {
    height: 620px;
}

.pagination {
    margin: 5% 0 !important;
    width: 100%;
}

.search-results-container .pagination-row {
    /*margin-top: 30px;*/
    padding-left: 15px;
    padding-right: 15px;
}

.pagination-row a {
    cursor: pointer;
}

    .pagination-row a[disabled], .pagination-row button[disabled] {
        display: none;
    }

.search-results-container .pagination-row .pagination-previous-block {
    text-align: left;
}

.search-results-container .pagination-row .pagination-next-block {
    text-align: right;
}

.search-results-container .pagination-row .pagination-previous-block i {
    margin-right: 10px;
}

.search-results-container .pagination-row .pagination-next-block i {
    margin-left: 10px;
}

.search-results-container .pagination-row .pagination-previous-block a,
.search-results-container .pagination-row .pagination-next-block a {
    font-family: "Proxima Nova Semibold", sans-serif;
}

two-button-row {
    display: inline-block;
}

.left-image-box {
    display: inline-block;
    width: 100%;
    margin: 1% 2%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

.left-image-wrap {
    float: left;
    background-color: #a3dbdf;
    padding: 15% 5%;
    height: 220px;
}

    .left-image-wrap img {
        width: 50px;
        height: 50px;
    }

.right-box {
    float: left;
    width: 70%;
    padding-left: 5%;
    padding-top: 2%;
}

.left-img {
    width: 60px;
}

@media only screen and (max-width: 767px) {
    .search-results-container .title-block-row {
        margin-top: 20px;
    }

    .search-results-container .title-block h1 {
        letter-spacing: 2px;
        margin-top: 0;
        font-size: 38px;
    }

    .search-results-container .filter-row, .search-results-container .search-results-row {
        margin-bottom: 15px;
    }

    .search-results-container .advanced-search-button-block { /*padding-right: 0;*/
    }

    .search-results-container .pagination-row {
        margin-top: 15px;
        padding-left: 0;
        padding-right: 0;
    }

        .search-results-container .pagination-row .pagination-previous-block {
            padding-right: 7.5px;
        }

        .search-results-container .pagination-row .pagination-next-block {
            padding-left: 7.5px;
        }

    .search-results-container .filter-row .filter-button-block {
        padding-left: 5px;
    }

        .search-results-container .filter-row .filter-button-block .filter-button,
        .search-results-container .filter-row .advanced-search-button-block .advanced-search-button {
            font-weight: bold;
        }

    .search-results-container .search-results-matches {
        text-align: center;
        font-family: "Proxima Nova Semibold", sans-serif;
        font-weight: bold;
        font-size: 12px;
    }

    .search-results-container .search-results-block .search-result-card {
        padding-right: 15px;
    }

        .search-results-container .search-results-block .search-result-card .profile-actions {
            display: none;
        }

        .search-results-container .search-results-block .search-result-card .profile-description {
            margin-top: 15px;
            margin-left: 15px;
            padding-right: 15px;
            display: table-cell;
            width: 100%;
        }

            .search-results-container .search-results-block .search-result-card .profile-description .physician-location {
                display: table;
                width: 100%;
            }

            .search-results-container .search-results-block .search-result-card .profile-description .schedulenow-button-block {
                margin-top: 20px;
                display: table-cell;
                text-align: right;
                vertical-align: bottom;
            }

            .search-results-container .search-results-block .search-result-card .profile-description .distance-block {
                display: table-cell;
            }

        .search-results-container .search-results-block .search-result-card .schedulenow-button {
            width: 100px;
            line-height: 30px !important;
            padding: 0 9px !important;
        }

        .search-results-container .search-results-block .search-result-card .logo {
            width: 65px;
        }

        .search-results-container .search-results-block .search-result-card .profile-img {
            height: 135px;
        }

        .search-results-container .search-results-block .search-result-card .logo {
            margin-top: 5px;
            margin-bottom: 10px;
        }

    .search-results-container .search-results-mobile-block .search-results-map-tab {
        margin: 0 -15px;
    }

    .search-results-container .search-results-map-block {
        margin-top: 15px;
    }

    .search-results-container .search-results-map {
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
    }

    .search-results-container .zip-code-block {
        margin-top: 10px;
    }

    .search-results-container .map-tab-header {
        margin-left: 8px !important;
    }

    .search-results-container .advanced-search-block {
        margin-top: 10px;
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* Override */

.text-uppercase {
    text-transform: uppercase !important;
}

.text-bold {
    font-weight: bold !important;
}

.edw-tabs ul li.nav-item {
    height: 55px;
}

.toggle-light .toggle-on {
    background-color: var(--lighter-blue) !important;
    box-shadow: none !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: var(--dark-grey);
}

::-moz-placeholder { /* Firefox 19+ */
    color: var(--dark-grey);
}

:-ms-input-placeholder { /* IE 10+ */
    color: var(--dark-grey);
}

:-moz-placeholder { /* Firefox 18- */
    color: var(--dark-grey);
}

.solr-score {
    display: none;
}

@media only screen and (min-width: 375px) and (max-width: 415px) {
    .edw-tabs ul {
        display: inherit;
        justify-content: space-around;
    }
}

@media only screen and (min-width: 513px) {
    .advanced-popover {
        width: 750px;
    }
}

@media only screen and (min-width: 768px) {
    .advanced-popover {
        width: 970px;
    }
}

@media only screen and (min-width: 945px) {
    .advanced-popover {
        width: 1170px;
    }
}

@media (max-width: 2560px) {
    .left-image-wrap {
        padding: 15% 5%;
    }
}

@media (max-width: 1440px) {
    .left-image-wrap {
        padding: 15% 5%;
    }
}

@media (max-width: 1024px) {
    .left-image-wrap {
        padding: 17% 5%;
    }
}

@media (max-width: 980px) {
    .left-image-wrap {
        padding: 20% 5%;
    }
}

@media (max-width: 375px) {
    .left-image-wrap {
        padding: 23% 5%;
    }
}

@media (max-width: 320px) {
    .left-image-wrap {
        padding: 30% 5%;
    }
}
