﻿<div class="advanced-search-wrap" style="display:none;">
<div class="advanced-filter-row">
    <div class="distance-filter-wrap">
        <h6 class="text-uppercase text-bold">Distance (Within)</h6><select class="float-left" id="advanced-distance">
            <option value="10">
                10 miles
            </option>
            <option value="20">
                20 miles
            </option>
            <option value="30">
                30 miles
            </option>
            <option value="40">
                40 miles
            </option>
            <option value="50">
                50 miles
            </option>
            <option value=">50">
                >50 miles
            </option>
        </select> <span class="float-left advanced-of">&nbsp;&nbsp;of&nbsp;&nbsp;</span> <input class="float-left" id="advanced-zip" name="advanced-zip" placeholder="Zip Code" type="text">
    </div>
    <div class="advanced-location-share-wrap">
        <i class="fa fa-map-marker"></i> <a class="advanced-share-link">Use current location</a>
    </div>
    <div class="schedule-now-wrap">
        <h6 class="text-uppercase text-bold">ScheduleNow</h6>
        <div class="toggle-block">
            <div class="toggle toggle-light"></div>
        </div>
        <div class="schedulenow-block">
            <i aria-hidden="true" class="fa fa-info-circle"></i> <span>ScheduleNow only</span>
        </div>
    </div>
    <div class="gender-filter-wrap">
        <h6 class="text-uppercase text-bold">Gender</h6>
        <div class="advanced-gender-row">
            <input checked="checked" name="advanced-gender" type="radio" value=""> <span class="advanced-gender-text text-bold">Any Gender</span> <input name="advanced-gender" type="radio" value="Female"> <span class="advanced-gender-text text-bold">Female</span> <input name="advanced-gender" type="radio" value="Male"> <span class="advanced-gender-text text-bold">Male</span>
        </div>
    </div>
</div>
<div class="advanced-dropdown-row advanced-top-row">
    <div class="advanced-dropdown-wrap float-left">
        <h6 class="text-uppercase text-bold">Specialty</h6>
        <i class="fa fa-chevron-down"></i>
        <select class="chosen-select" data-placeholder="Select a Specialty" id="advanced-specialty-dropdown" multiple>
        </select>
    </div>
    <div class="advanced-dropdown-wrap float-right">
        <h6 class="text-uppercase text-bold">Clinical Interest</h6>
        <i class="fa fa-chevron-down"></i>
        <select class="chosen-select" data-placeholder="Select a Clinical Interest" id="advanced-clinical-dropdown" multiple>
        </select>
    </div>
</div>
<div class="advanced-dropdown-row advanced-bottom-row">
    <div class="advanced-dropdown-wrap float-left">
        <h6 class="text-uppercase text-bold">Insurance Carrier</h6>
        <i class="fa fa-chevron-down"></i>
        <select class="chosen-select" data-placeholder="Select an Insurance Carrier" id="advanced-insurance-dropdown" multiple>
        </select>
    </div>
    <div class="advanced-dropdown-wrap float-right">
        <h6 class="text-uppercase text-bold">Hospital Affiliation</h6>
        <i class="fa fa-chevron-down"></i>
        <select class="chosen-select" data-placeholder="Select a Hospital Affiliation" id="advanced-hospital-dropdown" multiple>
        </select>
    </div>
</div>
<div class="advanced-search-btn-wrap">
    <div class="advanced-search-btn" id="advanced-search-btn">
        <button class="btn btn-primary" onclick="querySolrAdvanced()">SEARCH</button>
    </div>
    <div style="clear:both"></div>
</div>
</div>	

