﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    if (Model.returnedFacets.GenderFacet.Count > 0)
    {
        <div class="popover-filter-options">
            <span class="filter-clear" onclick="clearVisibleFilters($(this));">CLEAR</span>
            <span class="filter-done" onclick="closeAllPopovers();">DONE</span>
        </div>
        <div class="filter-input-row">
            <input type="radio" name="gender" value="" onchange="querySolr()" checked="checked" /><span> Any Gender</span>
        </div>
        foreach (KeyValuePair<string, int> gender in Model.returnedFacets.GenderFacet)
        {
            var exists = (Model.currentFacets.GenderFacet.Contains(@gender.Key)) ? "checked=\"checked\"" : "";
            <div class="filter-input-row">
                <input type="radio" name="gender" value="@gender.Key" onchange="querySolr()" @exists /><span class="facet-name"> @gender.Key Doctors</span> <span class="facet-num"> @gender.Value</span>
            </div>
        }
    } else
    {
        <div>No filters found for this search</div>
    }
}
