﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    if (Model.returnedFacets.InsuranceFacet.Count > 0)
    {
        <div class="popover-filter-options">
            <span class="filter-clear" onclick="clearVisibleFilters($(this));">CLEAR</span>
            <span class="filter-done" onclick="closeAllPopovers();">DONE</span>
        </div>

        if (Model.returnedFacets.InsuranceFacet.Count >= 25)
        {
            <div class="facet-search-bar-wrap">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="facet-search-bar" type="text" onkeyup="filterFacets($(this));" name="insurance-facet-search" id="insurance-facet-search">
            </div>
        }
        <div id="insurance-facet-list">
            @foreach (KeyValuePair<string, int> insurance in Model.returnedFacets.InsuranceFacet)
            {
                var exists = (Model.currentFacets.InsuranceFacet.Contains(@insurance.Key)) ? "checked=\"checked\"" : "";

                <div class="filter-input-row">
                    <input type="checkbox" name="insurance" value="@insurance.Key" onchange="querySolr()" @exists /><span class="facet-name"> @insurance.Key </span><span class="facet-num"> @insurance.Value</span>
                </div>
            }
        </div>
    }
    else
    {
        <div>No filters found for this search</div>
    }

}