﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    var count = Model.Start;
    foreach (var item in Model.Physicians)
    {
        var imagePath = "http://www.memorialhermann.org/PhysicianPhoto/" + @item.MSOID + ".jpg";
        count++;

        <div class="search-result-card">
            <div class="profile-img-block"><img class="img-responsive profile-img" onerror="if (this.src != '/Assets/images/male-doc-profile.png') this.src = '/Assets/images/male-doc-profile.png';" src="@imagePath"></div>
            <div class="card-content-block">
                <div class="profile-description">
                    <div class="solr-score">
                        Score: 
                    </div><a href="@item.FullPath">
                        <div class="physician-name">
                            @count. Dr. @item.FirstName @item.LastName, @item.Degree
                        </div>
                    </a>
                    <div class="physician-specialty">
                        @item.Specialty
                    </div>
                    <div class="physician-address">
                        4775 W Panther Creek Dr Ste 345<br>
                        The Woodlands, TX 77479
                    </div>
                    <div class="physician-distance">
                        <i aria-hidden="true" class="fa fa-map-marker"></i>3.2 miles away
                    </div>
                </div>
                <div class="profile-actions">
                    <div class="logo-block"><img class="logo" src="/Assets/images/mhmg-logo.svg"></div>
                    <div class="schedulenow-button-block">
                        <button class="btn btn-primary schedulenow-button"><img src="/Assets/images/schedulenow.svg"></button>
                    </div>
                </div>
            </div>
        </div>
    }
}