﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    var start = Model.Start;
    var rows = Model.Rows;
    var total = Model.TotalDocs;

    var end = (start + rows < total) ? start + rows : total;
    <span class="matches">Showing <span class="showing-start">@(start + 1)</span> - <span class="showing-end">@end</span> of <span class="result-total">@total</span> Matches</span>
}