﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    var start = Model.Start;
    var rows = Model.Rows;
    var total = Model.TotalDocs;

    var before = (start - rows < 0) ? "disabled" : "";
    var after = (start + rows > total - 1) ? "disabled" : "";

    <div class="row text-center pagination-row">
        <div class="col-xs-6 col-sm-6 pagination-previous-block">
            <a class="text-uppercase" onclick="previous(@(start - rows))" @before><i class="fa fa-chevron-left" aria-hidden="true"></i>Previous 10</a>
        </div>
        <div class="col-xs-6 col-sm-6 pagination-next-block">
            <a class="text-uppercase" onclick="next(@(start + rows))" @after>Next 10<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
    </div>
}
