﻿@model SitecoreFindADoctorSearch.Models.Search

@if (Model != null)
{
    if (Model.returnedFacets.SpecialtyFacet.Count > 0)
    {
        <div class="popover-filter-options">
            <span class="filter-clear" onclick="clearVisibleFilters($(this));">CLEAR</span>
            <span class="filter-done" onclick="closeAllPopovers();">DONE</span>
        </div>

        if (Model.returnedFacets.SpecialtyFacet.Count >= 25)
        {
            <div class="facet-search-bar-wrap">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input class="facet-search-bar" type="text" onkeyup="filterFacets($(this));" name="specialty-facet-search" id="specialty-facet-search">
            </div>
        }
        <div id="specialty-facet-list">
        @foreach (KeyValuePair<string, int> specialty in Model.returnedFacets.SpecialtyFacet)
        {
            var exists = (Model.currentFacets.SpecialtyFacet.Contains(@specialty.Key)) ? "checked=\"checked\"" : "";
            
            <div class="filter-input-row">
                <input type="checkbox" name="specialty" value="@specialty.Key" onchange="querySolr()" @exists/><span class="facet-name"> @specialty.Key </span><span class="facet-num"> @specialty.Value</span>
            </div>
        }
        </div>
    } else
    {
        <div>No filters found for this search</div>
    }

}


