﻿@using Sitecore.Mvc;
@using Sitecore.Mvc.Analytics.Extensions;
@using Sitecore.Mvc.Presentation;
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    @Styles.Render("~/Assets/css/bootstrap.min.css")
    @Styles.Render("~/Assets/css/fonts.css")
    @Styles.Render("~/Assets/css/pagelet.css")
    @Styles.Render("~/Assets/css/components.css")
    @Styles.Render("~/Assets/css/site.css")
    @Styles.Render("~/Assets/css/font-awesome.min.css")
    @Styles.Render("~/Assets/css/toggles-full.css")
    @Html.Sitecore().VisitorIdentification()
</head>
<body style="background:#f6f6f6;">
    <div class="container-fluid dashboard-container">
        <div class="row">
            <div id="dashboard-box" class="col-xs-12 col-md-12">
                <div class="row" style="margin-top:30px;">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="left-image-box">
                            <div class="left-image-wrap">
                              @Html.Sitecore().Field("Doctor Icon")
                            </div>
                            <div class="right-box">
                                <h4 class="text-uppercase">@Html.Sitecore().Field("Doctor Title")</h4>
                                <p>@Html.Sitecore().Field("Doctor Body")</p>
                                <a class="link">@Html.Sitecore().Field("Doctor Link Text")</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="left-image-box">
                            <div class="left-image-wrap">
                               @Html.Sitecore().Field("Location Icon")
                            </div>
                            <div class="right-box">
                                <h4 class="text-uppercase">@Html.Sitecore().Field("Location Title")</h4>
                                <p>@Html.Sitecore().Field("Location Body")</p>
                                <a class="link">@Html.Sitecore().Field("Location Link Text")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>