﻿@using Sitecore.Mvc;
@using Sitecore.Mvc.Presentation;
@using Sitecore.Mvc.Analytics.Extensions;
@using SitecoreFindADoctorSearch.Controllers;
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Physician Search</title>
    @Styles.Render("~/Assets/css/bootstrap.min.css")
    @Styles.Render("~/Assets/css/fonts.css")
    @Styles.Render("~/Assets/css/pagelet.css")
    @Styles.Render("~/Assets/css/components.css")
    @Styles.Render("~/Assets/css/jquery-ui.min.css")
    @Styles.Render("~/Assets/css/font-awesome.min.css")
    @Styles.Render("~/Assets/css/toggles-full.css")
    @Styles.Render("~/Assets/css/chosen/chosen.min.css")
    @Styles.Render("~/Assets/css/site.css")
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <div class="container-fluid" id="advanced-search-container">
        <div class="search-results-container">
            <div class="row title-block-row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 text-left title-block">
                    <h1 class="text-uppercase">
                        Find a doctor <!--<span class="hidden-xs hidden-sm">or facility</span>-->
                    </h1>
                </div>
                <div data-toggle="popover" data-container="#advanced-search-container" data-placement="bottom" class="hidden-xs col-sm-3 col-md-3 col-lg-3 text-right advanced-search-block">
                    <a>
                        <span>Advanced Search</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-1 text-right zip-code-block">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>77386</span>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-block">
                    <form id="physicianSearch">
                        <i class="fa fa-search" style="cursor:pointer;" aria-hidden="true" onclick="querySolr();"></i>
                        <input id="query" name="query" class="search-text-box" type="text" placeholder="Search by Medical Specialty, Clinical Interest, Doctor's First and last name or Facility" />
                        <input style="display:none;" type="submit" />
                    </form>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 hidden-xs show-on-results" style="display:none;">
                        <ul class="filter-list">
                            <li>
                                <div class="filter-list-heading">
                                    <span class="text-uppercase filter-heading">filter:</span>
                                </div>
                            </li>
                            <li>
                                <div class="filter-list-block">
                                    <div data-toggle="popover" data-container="body" data-placement="bottom" class="filter-list-item specialty">
                                        <div class="text-capitalize text-center filter-block">Specialty</div>
                                    </div>
                                    <div data-toggle="popover" data-container="body" data-placement="bottom" class="filter-list-item clinical-interest">
                                        <div class="text-capitalize text-center filter-block">Clinical Interest</div>
                                    </div>
                                    <div data-toggle="popover" data-container="body" data-placement="bottom" class="filter-list-item gender">
                                        <div class="text-capitalize text-center filter-block">Gender</div>
                                    </div>
                                    <div data-toggle="popover" data-container="body" data-placement="bottom" class="filter-list-item insurance">
                                        <div class="text-capitalize text-center filter-block">Insurance</div>
                                    </div>
                                    <div data-toggle="popover" data-container="body" data-placement="bottom" class="filter-list-item hospital-affiliation">
                                        <div class="text-capitalize text-center filter-block">Hospital Affiliation</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row search-results-row">
                    <div class="hidden-xs show-on-results" style="display:none;">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 search-results-block">
                            <div class="search-results-matches">
                                <span class="matches"></span>
                                <div class="toggle-block">
                                    <div class="toggle toggle-light"></div>
                                </div>
                                <div class="schedulenow-block">
                                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    <span>ScheduleNow only</span>
                                </div>
                            </div>
                            <div class="search-results-card-block">
 
                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <a href="/sitecore/Content/{FA8BBC02-DCD3-4313-BC08-891999D7CB5B}"><div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div></a>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="search-result-card">
                                    <div class="profile-img-block">
                                        <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                    </div>
                                    <div class="card-content-block">

                                        <div class="profile-description">
                                            <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                            <div class="physician-specialty">Neurological Surgery</div>

                                            <div class="physician-address">
                                                4775 W Panther Creek Dr Ste 345<br />
                                                The Woodlands, TX 77479
                                            </div>
                                            <div class="physician-distance">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                            </div>
                                        </div>
                                        <div class="profile-actions">
                                            <div class="logo-block">
                                                <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                            </div>
                                            <div class="schedulenow-button-block">

                                                <button class="btn btn-primary schedulenow-button">
                                                    <img src="~/Assets/images/schedulenow.svg" />
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row text-center pagination-row">
                                    <div class="col-xs-6 col-sm-6 pagination-previous-block">
                                        <a class="text-uppercase"><i class="fa fa-chevron-left" aria-hidden="true"></i>Previous 10</a>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 pagination-next-block">
                                        <a class="text-uppercase">Next 10<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                    </div>

                                </div>

                            </div>
                            <div class="pagination"></div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 search-results-map-block">
                            <div id="map" class="search-results-map"></div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center search-results-action-block">
                                <a><i class="fa fa-print" aria-hidden="true"></i>Print this page</a>
                                <a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email this page</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg search-results-mobile-block">
                        <div class="edw-tabs">
                            <ul id="findDoctorTab" class="nav nav-pills text-uppercase" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0);" data-id="1">search results</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link map-tab-header" href="javascript:void(0);" data-id="2">map</a>
                                </li>
                                <li class="pull-right">
                                    <div class="zip-code-block">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span>77386</span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div class="tab-content">

                            <div class="tab-pane active" id="1" role="tabpanel">
                                <!-- Search Results Tab-->
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 search-block">
                                        <form id="physicianMobileSearch">
                                            <i class="fa fa-search" style="cursor:pointer;" aria-hidden="true" onclick="querySolr();"></i>
                                            <input class="search-text-box" id="queryMobile" name="queryMobile" type="text" placeholder="Specialty, Clinical Interest, Doctor or Facility" />
                                            <input style="display:none;" type="submit" />
                                        </form>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 advanced-search-button-block">
                                        <button class="text-uppercase btn btn-outline btn-block filter-button">Filter</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 search-results-block show-on-results" style="display:none;">
                                        <div class="search-results-matches">
                                            
                                        </div>
                                        <div class="mobile-results-block">
                                            <!-- Result Cards -->
                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="search-result-card">
                                                <div class="profile-img-block">
                                                    <img src="http://www.memorialhermann.org/PhysicianPhoto/085671.jpg" class="img-responsive profile-img" />
                                                </div>
                                                <div class="profile-description">
                                                    <div class="physician-name">1. Dr. Bindu Sudhakaran, MD</div>
                                                    <div class="physician-specialty">Neurological Surgery</div>
                                                    <div class="physician-location">
                                                        <div class="distance-block">
                                                            <img src="~/Assets/images/mhmg-logo.svg" class="logo" />
                                                            <div class="physician-distance">
                                                                <i class="fa fa-map-marker" aria-hidden="true"></i>3.2 miles away
                                                            </div>
                                                        </div>
                                                        <div class="schedulenow-button-block">
                                                            <button class="btn btn-primary schedulenow-button">
                                                                <img src="~/Assets/images/schedulenow.svg" />
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- END OF Result Cards -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row hidden-md hidden-lg text-center pagination-row mobile-pagination show-on-results" style="display:none;">
                         

                                </div>
                            </div>
                            <div class="tab-pane search-results-map-tab" id="2" role="tabpanel">
                                <!-- Map View Tab -->
                                <div class="search-results-matches">
                                    <span class="matches">Showing <span class="showing-start">1</span> - <span class="showing-end">10</span> of <span class="result-total">40</span> Matches</span>
                                </div>
                                <div class="search-results-map-block">
                                    <div id="mobileMap" class="search-results-map"></div>
                                    <div class="hidden-xs hidden-sm col-md-12 col-lg-12 text-center search-results-action-block">
                                        <a><i class="fa fa-print" aria-hidden="true"></i>Print this page</a>
                                        <a><i class="fa fa-envelope-o" aria-hidden="true"></i>Email this page</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div id="advanced-search-ui" style="display:none;">
            @Html.Partial("_AdvancedSearchUI")
        </div>
    </div>
    @Scripts.Render("~/Assets/js/jquery-3.1.1.min.js");
    @Scripts.Render("~/Assets/js/jquery-ui.min.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj-MxcjocMizOI7860lwQpslu00T3XZiM"></script>
   
    <script type="text/javascript">
        var random = getRandomInt(1, 1000);

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        /*** Solr Query ***/
        function querySolr(start) {
          var query = '';
          if ($('#query').is(':visible')) {
              var query = $('#query').val();
          } else {
              var query = $('#queryMobile').val();
          }
            //console.log(query);
          if (start == null) { random = getRandomInt(1, 1000); }
          var  start = (start) ? start : 0;
          var specialties = '', genders = '', interests = '', affiliations = '', insurances = '';
          //Collects checked filters
            //Specialty
          if ($('.filter-list-item.specialty').data('bs.popover')) {
              specialties = '&specialty=' + $('.filter-list-item.specialty').data('bs.popover').tip()
                  .find('.popover-content input[name="specialty"]:checkbox:checked').map(function () {
                      return this.value;
                  }).get().join(',');

              var checked = specialties.replace('&specialty=', '').split(',');
              var $specialtyBtn = $('.filter-list-item.specialty .filter-block');
              var origText = origFilterText[0];

              updateBtnText(checked, $specialtyBtn, origText);
          }

          

          //Clinical Interest
          if ($('.filter-list-item.clinical-interest').data('bs.popover')) {
              interests = '&interest=' + $('input[name="interest"]:checkbox:checked').map(function () {
                  return this.value;
              }).get().join(',');

              var checked = interests.replace('&interest=', '').split(',');
              var $interestBtn = $('.filter-list-item.clinical-interest .filter-block');
              var origText = origFilterText[1];

              updateBtnText(checked, $interestBtn, origText);
          }

            //Gender
          if ($('.filter-list-item.gender').data('bs.popover')) {
              genders = '&gender=' + $('.filter-list-item.gender').data('bs.popover').tip()
                  .find('.popover-content input[name="gender"]:checked').map(function () {
                      return this.value;
                  }).get().join(',');

              var checked = genders.replace('&gender=', '').split(',');
              var $genderBtn = $('.filter-list-item.gender .filter-block');
              var origText = origFilterText[2];

              updateBtnText(checked, $genderBtn, origText);
          }
          //console.log(genders);

          //Insurance
          if ($('.filter-list-item.insurance').data('bs.popover')) {
              insurances = '&insurance=' + $('input[name="insurance"]:checkbox:checked').map(function () {
                  return this.value;
              }).get().join(',');

              var checked = insurances.replace('&insurance=', '').split(',');
              var $insuranceBtn = $('.filter-list-item.insurance .filter-block');
              var origText = origFilterText[3];

              updateBtnText(checked, $insuranceBtn, origText);
            }

          //Hospital Affiliation 
          if ($('.filter-list-item.hospital-affiliation').data('bs.popover')) {
              affiliations = '&affiliation=' + $('input[name="affiliation"]:checkbox:checked').map(function () {
                  return this.value;
              }).get().join(',');

              var checked = affiliations.replace('&affiliation=', '').split(',');
              var $affiliationBtn = $('.filter-list-item.hospital-affiliation .filter-block');
              var origText = origFilterText[4];

              updateBtnText(checked, $affiliationBtn, origText);
          }


            $.ajax({
                type: "POST",
                url: '@Url.Action("getViews","PhysicianSearch")',
                data: "query=" + query + specialties + genders + interests + affiliations + insurances + '&start=' + start + '&random=' + random,
                success: function (response) {
                    if (response != null) {
                        $('.search-results-card-block').html(response.searchResultsView);
                        $('.mobile-results-block').html(response.mobileSearchResultsView);
                        $('.pagination').html(response.paginationView);
                        $('.mobile-pagination').html(response.mobilePaginationView)
                        $('.matches').html(response.numberFoundView);

                        $('.show-on-results').show();
                        initMap();
                        initPopovers(response);
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            })
        }

        //TODO
        //Advanced Query
        function querySolrAdvanced() {
            var query = '*:*';
            
            var specialties = '', genders = '', interests = '', affiliations = '', insurances = '';
            //Collects checked filters
            //Specialty
            
            specialties = '&specialty=' + $('#advanced-specialty-dropdown').val().join(',');
            var checked = specialties.replace('&specialty=', '').split(',');
            var $specialtyBtn = $('.filter-list-item.specialty .filter-block');
            var origText = origFilterText[0];

            updateBtnText(checked, $specialtyBtn, origText);

            //Clinical Interest
            //if ($('.filter-list-item.clinical-interest').data('bs.popover')) {
            //    interests = '&interest=' + $('input[name="interest"]:checkbox:checked').map(function () {
            //        return this.value;
            //    }).get().join(',');
            //}

            //Gender
            genders = '&gender=' + $('input[type="radio"][name="advanced-gender"]:checked').val();
            var checked = genders.replace('&gender=', '').split(',');
            var $genderBtn = $('.filter-list-item.gender .filter-block');
            var origText = origFilterText[2];

            updateBtnText(checked, $genderBtn, origText);
            
            //console.log(genders);

            //Hospital Affiliation 
            //if ($('.filter-list-item.hospital-affiliation').data('bs.popover')) {
            //    affiliations = '&affiliation=' + $('input[name="affiliation"]:checkbox:checked').map(function () {
            //        return this.value;
            //    }).get().join(',');
            //}

            //Insurance
            //if ($('.filter-list-item.insurance').data('bs.popover')) {
            //    insurances = '&insurance=' + $('input[name="insurance"]:checkbox:checked').map(function () {
            //        return this.value;
            //    }).get().join(',');
            //}


            $.ajax({
                type: "POST",
                url: '@Url.Action("getViews","PhysicianSearch")',
                data: "query=" + query + specialties + genders + interests + affiliations + insurances,
                success: function (response) {
                    if (response != null) {
                        $('.search-results-card-block').html(response.searchResultsView);
                        $('.mobile-results-block').html(response.mobileSearchResultsView);
                        $('.pagination').html(response.paginationView);
                        $('.mobile-pagination').html(response.mobilePaginationView)
                        $('.matches').html(response.numberFoundView);
                        $('.show-on-results').show();
                        $('')
                        initMap();
                        initPopovers(response);
                        $('.advanced-search-block').popover('hide');
                        $('#query').val('*:*');
                    }
                },
                error: function (response) {
                    console.log(response.responseText);
                }
            })
        }
        //End Advanced Query


        function getFacets() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetFacets","PhysicianSearch")',
                success: function (response) {
                    if (response != null) {
                        initSpecialties = response[0].Value;

                        initAdvancedSearchUI();
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            })
        }

        var initSpecialties;

        $(document).ready(function () {
            getFacets();
            
            $('form#physicianSearch, form#physicianMobileSearch').on('submit', function (e) {
                e.preventDefault();
                querySolr();
            })

            $('#query, #queryMobile').autocomplete({
                source: function (request, response) {
                    var specialties = $.ui.autocomplete.filter(initSpecialties, request.term);

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetTypeahead","PhysicianSearch")',
                        data: "query=" + request.term,
                        dataType: "json",
                        success: function (data) {
                            response(data.concat(specialties));
                        }
                    })
                },
                minLength: 3
            }).each(function () {
                $(this).data("ui-autocomplete")._renderItem = function (ul, item) {
                    var newLabel = String(item.label).replace(
                            new RegExp(this.term.replace(/([^a-z0-9]+)/gi, ''), "gi"),
                            "<strong>$&</strong>");
                    var icon = (item.type == "physician") ? "glyphicon glyphicon-user" : "glyphicon glyphicon-search";
                    var link = (item.link != "") ? "href='" + item.link + "'" : "";

                    return $("<li>")
                        .data("ui-autocomplete-item", item)
                        .append("<div><a " + link + "><i class='" + icon + "'></i> " + newLabel + "</a></div>")
                        .appendTo(ul);
                };
            });
        });


    </script>
    @Scripts.Render("~/Assets/js/search_results.js")
    @Scripts.Render("~/Assets/js/tether.min.js")
    @Scripts.Render("~/Assets/js/bootstrap.min.js")
    @Scripts.Render("~/Assets/js/toggles.js")
    @Scripts.Render("~/Assets/js/chosen.jquery.min.js")
</body>
</html>
