﻿@using Sitecore.Mvc;
@using Sitecore.Mvc.Analytics.Extensions;
@using Sitecore.Mvc.Presentation;
@model RenderingModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Physician Details</title>
    @Styles.Render("~/Assets/css/bootstrap.min.css")
    @Styles.Render("~/Assets/css/fonts.css")
    @Styles.Render("~/Assets/css/pagelet.css")
    @Styles.Render("~/Assets/css/components.css")
    @Styles.Render("~/Assets/css/site.css")
    @Styles.Render("~/Assets/css/font-awesome.min.css")
    @Styles.Render("~/Assets/css/toggles-full.css")
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <ol class="breadcrumb go-back">
                    <li>
                        <i class="fa fa-chevron-left fa-1" aria-hidden="true"></i>
                        <a href="/sitecore/Content/{ACABA576-6BD8-4252-8719-C2CC611B1212}" class="breadcrumblink">Search results</a>
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <!--physicians box id="physician-profile-pic"-->
            <div id="physician-box" class="col-xs-12 col-md-8">
                <div class="row" id="profile-box">
                    <!-- image box-->
                    <div class="pull-left col-xs-12 col-md-4">
                     <!-- <img id="physician-profile-pic" src="~/Assets/images/male-doc-profile.png" /> -->
                        @if (Model != null)
                        {
                            var imagePath = "http://www.memorialhermann.org/PhysicianPhoto/" + @Model.PageItem.Name + ".jpg";

                        <img id="physician-profile-pic" style="display:none;" src="@imagePath" onerror="if (this.src != '/Assets/images/male-doc-profile.png') this.src = '/Assets/images/male-doc-profile.png';" />
                        <span style="display:none;">http://www.memorialhermann.org/PhysicianPhoto/@Model.PageItem.Name</span>
                        }
                    </div>

                    <!--copy box-->
                    <div id="physician-profile-copy" class="col-xs-12 col-md-8">
                        <h4 class="physician-name">
                            <strong>Dr. @Html.Sitecore().Field("FirstName") @Html.Sitecore().Field("LastName"), MD</strong>  
                        </h4>
                        <p class="physician-specialty">
                            <strong>@Html.Sitecore().Field("PrimarySpecialty")</strong>
                        </p>
                        @if (Model != null)
                        {
                            string isMHPreferred = Html.Sitecore().Field("isMHPreferred").ToString();
                            string isMHMG = Html.Sitecore().Field("isMHMG").ToString();
                            string isMHMGPediatrics = Html.Sitecore().Field("isMHMGPediatrics").ToString();
                            string scheduleNowUrl = Html.Sitecore().Field("ScheduleNowUrl").ToString();
                            
                            <div class="mh-preferred-wrap">
                                @if (isMHPreferred == "1")
                                {
                                    <span class="mh-preffered"><i class="fa fa-star"></i> MH PREFERRED</span>
                                }
                            </div>

                            <div class="logo-wrap">
                                @if (isMHMGPediatrics == "1")
                                {
                                    <img id="profile-logo" src="~/Assets/images/logo.png" class="img-responsive" />
                                }
                                else if (isMHMG == "1")
                                {
                                    <img id="profile-logo" src="~/Assets/images/logo.png" class="img-responsive" />
                                }
                            </div>
                            <div class="action-btn-row">
                                <div class="schedule-now-action-wrap">
                                    @if (scheduleNowUrl != "")
                                    {
                                        <p id="scheduleNowBtn" data-toggle="popover" data-placement="bottom" class="btn btn-primary btn-wide btn-sm">
                                            <img src="~/Assets/images/schedulenow.svg" />
                                        </p>
                                        <div style="display:none !important;"><div id="healthpost_appointments"></div></div>
                                        <script src="@scheduleNowUrl"></script>
                                    }
                                </div>

                                <div class="print-action-wrap">
                                    <i class="fa fa-print"></i>
                                    <span>Print this page</span>
                                </div>

                                <div class="email-action-wrap">
                                    <i class="fa fa-envelope-o"></i>
                                    <span>Email this page</span>
                                </div>
                            </div>
                        }
                    </div>
                    <!--bottom border-->
                    <div class="col-xs-12 col-md-12" id="profile-box-border-bottom"></div>
                </div>
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="edw-tabs">
                            <ul id="findDoctorTab" class="nav nav-pills text-uppercase" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0);" data-id="1">overview</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);" data-id="2">insurance</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);" data-id="3">media</a>
                                </li>

                            </ul>
                        </div>
                        <div class="tab-content">

                            <div class="tab-pane active" id="1" role="tabpanel">
                                <div class="card hasBorderAndDropShadow">
                                    <h6>SUMMARY</h6>
                                    <p>
                                        <b>Gender:</b>
                                        <span>@Html.Sitecore().Field("Gender")</span>
                                    </p>
                                    <p>
                                        <b>Specialities:</b>
                                        @if (Model != null)
                                        {
                                            string[] otherSpecialties = Html.Sitecore().Field("OtherSpecialties").ToString().Split('|');
                                            <span>
                                                @for (int i = 0; i < otherSpecialties.Length; i++)
                                                {
                                                    @Html.Raw(otherSpecialties[i])
                                                    if (i != otherSpecialties.Length-1)
                                                    {
                                                        @Html.Raw(", ")
                                                    }
                                                }
                                            </span>
                                        }
                                    </p>
                                    <p>
                                        <b>Medical Education:</b>
                                        <span>@Html.Sitecore().Field("MedSchool")</span>
                                    </p>
                                    <p>
                                        <b>Fellowship:</b>
                                        <span>@Html.Sitecore().Field("Fellowship")</span>
                                    </p>
                                    <p>
                                        <b>PCP Number:</b>
                                        <span>@Html.Sitecore().Field("PCP_ID")</span>

                                    </p>
                                    <p>
                                        <b>Cities Served:</b>
                                    </p>
                                    <p>
                                        <b>Zip Codes Served:</b>
                                    </p>
                                    <br>
                                    <h6>AFFILIATED CENTERS</h6>
                                    <p>@Html.Sitecore().Field("PracticeInformation")</p>
                                    
                                    <h6>PHYSICIAN BIOGRAPHY</h6>
                                    @Html.Sitecore().Field("Biography")
                                    <div class="video-container">
                                        @if (Model != null)
                                        {
                                            string videoID = Html.Sitecore().Field("Video").ToString();
                                            string videoClass = "wistia_async_" + videoID;
                                            string videoUrl = "//fast.wistia.com/embed/medias/" + videoID + ".jsonp";
                                            <div class="wistia_responsive_padding">
                                                <div class="wistia_responsive_wrapper">
                                                    <div class="wistia_embed @videoClass videoFoam=true">&nbsp;</div>
                                                </div>
                                            </div>
                                            <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                                            <script src="@videoUrl" async></script>
                                        }    
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="2" role="tabpanel">
                                <div class="card hasBorderAndDropShadow">
                                    <h6>ACCEPTED MEDICAL INSURANCE PLANS</h6>
                                    @if(Model != null)
                                    {
                                        string[] plans = Html.Sitecore().Field("InsurancePlans").ToString().Split('|');
                                        <div class="insurance-cols">
                                        @for (int i=0;i<plans.Length;i++)
                                        {
                                            <p>@plans[i]</p>
                                        }
                                        </div>
                                    }
                                    
                                </div>
                            </div>
                            <div class="tab-pane" id="3" role="tabpanel">
                                <div class="card hasBorderAndDropShadow">
                                    <h6>NEWS</h6>
                                    @Html.Sitecore().Field("Articles")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--location box-->
            <div class="col-xs-12 col-md-4">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <h6>
                            <strong>Locations and Contact info</strong>
                        </h6>
                        <div id="location-map" class="col-xs-12 col-md-12"></div>
                    </div>
                </div>
                <!--locations-->
                @if (Model != null)
                {
                    string primaryLocation = Html.Sitecore().Field("PrimaryLocation").ToString();
                    string[] splitLocation = primaryLocation.Split('|');
                    char[] removeChars = new char[] {' ', '(',')','-'};
                    //string primeClickToCall = splitPrimaryLocation[5].Replace(removeChars, " ");
                    string directionsUrl = "https://www.google.com/maps/dir/Current+Location/" + Html.Sitecore().Field("PrimaryLocationLatLng").ToString();

                    <div class="row location-box">
                        <div class="col-xs-2 col-md-2">
                            <img src="~/Assets/icons/map-pin.svg" alt="marker" />
                        </div>

                        <div class="col-xs-10 col-md-10 address-box">
                            <p>
                                <strong>
                                    <span class="primary-office-font">Primary Office</span>
                                </strong>
                            </p>

                            <p>@splitLocation[0]</p>
                            @if (splitLocation[1] != "")
                            {
                                <p>@splitLocation[1]</p>
                            }
                            <p>@splitLocation[2], @splitLocation[3] @splitLocation[4]</p>
                            <p><a target="_blank" href="@directionsUrl">Get directions <i class="fa fa-chevron-right"></i></a></p>
                            <p>&nbsp;</p>
                            <p><a href="tel:@splitLocation[5].Replace("(", "").Replace(")","").Replace("-","").Replace(" ","")">@splitLocation[5]</a> | Fax: @splitLocation[6]</p>
                        </div>
                    </div>
                }

                @if (Model != null)
                {
                    string otherLocations = Html.Sitecore().Field("OtherLocations").ToString();
                    string[] splitLocations = otherLocations.Split('|');
                    int numLocations = splitLocations.Length;

                    char[] removeChars = new char[] { ' ', '(', ')', '-' };

                    for (int i=0;i<numLocations;i+=7)
                    {
                        <div class="row location-box">
                            <div class="col-xs-2 col-md-2">
                                <img src="~/Assets/icons/map-pin.svg" alt="marker" />
                            </div>
                            <div class="col-xs-10 col-md-10 address-box">
                                <p>@splitLocations[i+0]</p>
                                @if (splitLocations[i+1] != "")
                                {
                                    <p>@splitLocations[i+1]</p>
                                }
                                <p>@splitLocations[i+2], @splitLocations[i+3] @splitLocations[i+4]</p>
                                <p><a target="_blank" href="#">Get directions <i class="fa fa-chevron-right"></i></a></p>
                                <p>&nbsp;</p>
                                <p><a href="tel:@splitLocations[i+5].Replace("(", "").Replace(")","").Replace("-","").Replace(" ","")">@splitLocations[i+5]</a> | Fax: @splitLocations[i+6]</p>
                            </div>
                        </div>
                    }
                }
      
            </div>
        </div>
    </div>
    @Scripts.Render("~/Assets/js/jquery-3.1.1.min.js")
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCj-MxcjocMizOI7860lwQpslu00T3XZiM"></script>
    @Scripts.Render("~/Assets/js/bootstrap.min.js")
    <script type="text/javascript">

        var map;
        var markers = [];
        var bounds = new google.maps.LatLngBounds();

        var primaryCoords = '@Html.Sitecore().Field("PrimaryLocationLatLng")';
        primaryCoords = primaryCoords.split(',');

        var otherCoords = '@Html.Sitecore().Field("OtherLocationsLatLngs")';
        otherCoords = otherCoords.replace(/[|]/g, ',').split(',');

        icon = {
            url: "/-/media/Images/Icons/map-pin.ashx",
            labelOrigin: new google.maps.Point(16, 10),
            scaledSize: new google.maps.Size(30, 30)
        }

        var center = { lat: 29.781313, lng: -95.546905 };

        if (primaryCoords[0] != '') {
            var Primelatlng = { lat: parseFloat(primaryCoords[0]), lng: parseFloat(primaryCoords[1]) };
            center = Primelatlng;
            markers.push(Primelatlng);
        }

        if (otherCoords[0] != '') {
            for (var i = 0; i < otherCoords.length; i += 2) {
                var thislatlng = { lat: parseFloat(otherCoords[i + 0]), lng: parseFloat(otherCoords[i + 1]) };
                markers.push(thislatlng);
            }
        }

        function initMap() {
            map = new google.maps.Map(document.getElementById('location-map'),
            {
                center: center,
                zoom: 15
            });
        }


        function scheduleNow(url) {
            if ($('#healthpost_appointments').html() === '') {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.src = url;
                $("body").append(script);
            }
        }
        
        $(document).ready(function () {
            $('#scheduleNowBtn').popover({
                content: function () { return $('#healthpost_appointments').html() },
                trigger: 'click',
                template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content" id="healthpost_appointments"></div></div>',
                html: true
            });

            $("#findDoctorTab li a").click(function() {
                $("#findDoctorTab li a").each(function(index) {
                    $(this).removeClass('active');
                });
                $(this).addClass('active')
                var content = $(this).data('id');
                $('.tab-content .active').removeClass('active');
                $('#' + content).addClass('active');
            });

            $('#physician-profile-pic').show();
        });

        initMap();
        for (var i = 0; i < markers.length; i++) {
            var markerLabel = (i + 10).toString();
            var labelObj = {
                fontFamily: "Proxima Nova Regular",
                fontWeight: "bold",
                fontSize: "12px",
                text: (i+1).toString()
            };
            var marker = new google.maps.Marker({
                map: map,
                position: markers[i],
                icon: icon,
                label: labelObj,
                optimized: false
            });
            bounds.extend(marker.getPosition());
        }
        map.fitBounds(bounds);
    </script>
    @Scripts.Render("~/Assets/js/toggles.js")
</body>
</html>
