﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    @Styles.Render("~/Assets/css/pagelet.css")
    @Styles.Render("~/Assets/css/components.css")
    <link href="~/Assets/css/fonts.css" rel="stylesheet" />
    @Styles.Render("~/Assets/css/site.css")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
    @Styles.Render("~/Assets/css/toggles-full.css")
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Element Blue</p>
        </footer>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Scripts.Render("~/Assets/js/toggles.js")
    @RenderSection("scripts", required: false)
</body>
</html>
